@import '../../styles/variables';

.faceDetection {
  height: 100%;

  button {
    padding: 10px;
    min-width: 100px;
    font-size: 16px;
  }

  .imageDetection {
    flex: 1;
    width: 100%;
    text-align: center;
  }

  .media-container {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controls {
    display: flex;
    align-items: center;
  }

  img {
    cursor: grab;

    &:active, &:focus {
      cursor: grabbing;
    }
  }

  .trash {
    width: 100px;
    height: 100px;
    background-image: url('../../assets/trash-closed.png');
    background-size: cover;
    right: 0;
    bottom: 0;
    position: absolute;

    svg {
      fill: @app-accent-color;
    }

    &.isOver {
      background-image: url('../../assets/trash-opened.png');
    }
  }

  .detected-face-box {
    border: 3px solid #25ff00;
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }

  .video-detected-face-box {
    position: absolute;
    z-index: 2;
    border: 3px solid @app-bg-color;
  }

  .codes {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
}
