@import '../styles/variables';

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header, .sectionTitle {
  transition: @transition;
  cursor: pointer;
}
.header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: papayawhip;
  &:hover {
    color: #288dc8;
  }
}
.sectionTitle {
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    transition: @transition;
    color: #288dc8;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageIdentificator {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
