.drop-target {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px dashed lightgrey;
    min-width: 500px;
    min-height: 100px;
    max-width: 80%;
    padding: 15px;
    margin: 30px auto;
    transition: all .3s ease-out;
}

.drop-target .draggable-item {
    display: inline-block;
    margin: 5px;
}

.is-over {
    border: 3px dashed lightgrey;
    background-color: papayawhip;
}

.is-dragged {
    visibility: hidden;
}

.is-drag-started {
    opacity: 0.5;
    color: green;
}

.is-entered {
    background-color: red;
}

#panel {
    opacity: 0.6;
    display: none;
}