.pageVisibility {
  margin: auto;
  text-align: center;

  .stateContainer {
    position: fixed;
    left: 10px;
    height: 300px;
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
  }

  .state {
    font-size: 2rem;
    text-align: left;
    display: block;

    .currentStateStatus {
    }

    span {
      margin-right: 10px;
      text-decoration: line-through;
    }

    &:nth-last-of-type(1), &:nth-last-of-type(2) {
      span {
        text-decoration: none;
      }
    }

    &:nth-last-of-type(1) {
      color: #52b562;
    }

    &:nth-last-of-type(2) {
      color: #ff6347;
    }

    .current {
      color: darkgreen;
    }

    .previous {
      color: darkred;
    }

    .time {
      font-size: 14px;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
}
