body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: papayawhip;
  font-size: 62.5%;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

.output p {
  padding: 30px;
  background-color: rgba(0,0,0,0.2);
  font-size: 2.5rem;
}

.output {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

button {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  width: 170px;
  line-height: 2;
  margin-top: 30px;
  padding: 20px;
  font-size: 2rem;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.phrase {
  font-weight: bold;
}

.received-message {
  font-style: italic;
}
